/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

# cljs compiled files
resources/public/js/core.js
resources/public/js/mobile-core.js

# helper scripts
start-server.sh
deploy.sh
provision.sh